body {
  min-height: 100vh;
  font-family: "Press Start 2P", cursive;
  font-size: large;
}

.bg-img {
  background-image: url("https://t3.ftcdn.net/jpg/04/21/85/20/360_F_421852062_oLJjfT88cczyu3u28Qy3M2V8xmO8L770.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#content {
  height: auto;
  width: auto;
  top: calc(50% - 1000px);
}

#content model-viewer {
  min-height: 75vh;
  min-width: 54vw;
  top: 0;
  left: 0;
  border: none;
}

.shopStyle {
  min-height: 90vh;
  background-color: rgba(128, 0, 128, 0.201);
}

.productCard {
  background-color: rgba(208, 0, 208, 0.201);
}
